* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #ffffff;
}

nav {
  height: 80px;
  background: #4daef3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 1.5rem;
}

.body2 {
  color: #000000;
}

.textcenter {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 1rem 2rem;
}

.officerimage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 2rem;  
  padding: 2rem 0;
}


.officer {
  text-align: center;
  width: calc(50% - 1rem);  
}

.positiontextcenter {
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 0; 
}

.officer img {
  width: 350px;  
  height: auto; 
  border-radius: 10px;
  margin-right: 1rem;  
  margin-bottom: 1rem;  
}

.nametextcenter {
  text-align: center;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0; 
}
